<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User list</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main">
        <h1>User List</h1>
        <button class="btnAddUser"><a href="/users/signup">Add User</a></button> <br> <br>

        <table id="userTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Password</th>
                    <th scope="col">Address</th>
                    <th scope="col">Contact No</th>
                    <th scope="col">Role</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="userList">
                <% users.forEach(user=> { %>
                    <tr>
                        <td>
                            <%= user.first_name %>
                        </td>
                        <td>
                            <%= user.last_name %>
                        </td>
                        <td>
                            <%= user.user_name %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <%= user.password%>
                        </td>
                        <td>
                            <%= user.address %>
                        </td>
                        <td>
                            <%= user.contact_no %>
                        </td>
                        <td>
                            <a href="/users/edituser/<%= user._id %>">Edit</a>
                            <form action="/users/deleteuser/<%= user._id %>?_method=DELETE" method="POST"
                                style="display:inline;"
                                onsubmit="return confirm('Are you sure you want to delete this user?')">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>